.header {
  position: relative;
  display: grid;
  grid-template-columns: 50px 135px auto 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: ". logo nav btn .";

  height: 80px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,83,121,1) 0%, rgba(0,212,255,1) 100%);
  box-shadow: 0 0 7px 6px rgba(0,0,0,0.46);

  &__logo {
    grid-area: logo;
    align-self: center;
    background: url('../../images/logo.png') no-repeat;
    height: 50%;
  }

  &__btn {
    grid-area: btn;
    align-self: center;
    height: 50%;
    background: url('../../images/menu.svg') no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    outline: none;
    border: none;

    &--active {
      background: url('../../images/close_menu.png') no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
